*.dot
*.exe
*~
*.gcno
html
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.a
build
*_sm.cpp
*_sm.h
.vscode
CMakeLists_CompilerFlags.cmake
CMakeLists_Smc.cmake
CTestTestfile.cmake
test_*
Testing
